body{

    background: radial-gradient(circle, rgba(161,213,224,1) 12%, rgba(255,255,255,1) 100%);
}

.theme-container{
    float:right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.theme-box{
    height:15px;
    width: 15px;
    border-radius: 50%;
    margin: 4px;
    padding: 3px;
    border:2px solid rgb(139, 139, 139);
    cursor: pointer;
}


.theme1{
    background: radial-gradient(circle, rgba(161,213,224,1) 12%, rgba(255,255,255,1) 100%);;
}

.theme2{
    background: radial-gradient(circle, rgba(37,142,11,1) 3%, rgba(0,0,0,1) 90%);
}

.theme3{
    background: linear-gradient(90deg, rgba(9,0,15,1) 0%, rgba(48,10,10,1) 50%, rgba(144,15,19,1) 100%);
}


.dark-box{
    background-color: black;
    border:1px solid #1dd91d
}

.light-box{
    background-color: antiquewhite;
}

.todo-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-list-box{
    width:35vw;
    height:68vh;
    border-radius:24px;

}

.todo-list-header{
    font-size:24px;
    text-align: center;
    padding: 6px;
    font-weight: 600;
}


.todo-list-input-container{
    display: flex;
    justify-content: center;
    padding: 4px;
}

.todo-input{
    width:28vw;
    height: 4vh;
    padding: 12px;
}

.todo-light-input{
    border: 1px solid aliceblue;
    border-radius:8px;
    font-family: cursive;
}

.todo-dark-input{
    border:2px solid #1dd91d;
    font-family:monospace;
   
}