:root{
    --bgLight:#ffffffd2;
    --bgLight2:#f2f2f2;
    --bgDark:#212121;
    --bgDark2:#383838;
    --bgDarkSideBar:#292929
}


body{
    background: var(--bgLight);
    margin: 0px ;
    padding: 0px;
    transition: all .6s ease;
    position: relative;
}

.border-dark{
    border:1px solid var(--bgDark)
}

.border-light{
    border:1px solid var(--bgLight)
}

.bg-light{
    background: var(--bgLight);
    color:var(--bgDark);
}

.bg-dark{
    background: var(--bgDark);
    color:var(--bgLight);
}


.ma-xl{
  margin: 24px;
}

.ma-2xl{
  margin: 48px;
}

.mt-sm{
  margin-top: 4px;
}

.mt-md{
    margin-top:6px;
}

.mt-lg{
    margin-top: 12px;
}

.mt-2lg{
    margin-top: 18px;
}

.mt-xl{
    margin-top: 24px;
}

.mx-lg{
  margin:0px 12px
}

.mx-xl{
    margin:0px 24px
}

.mx-2xl{
    margin:0px 48px
}

.mx-3xl{
    margin:0px 72px
}


.pa-xl{
  padding: 24px;
}

.pa-2xl{
  padding: 48px;
}

.px-xl{
    padding:0px 24px
}

.px-2xl{
    padding:0px 48px
}

.px-3xl{
    padding:0px 72px
}

header{
    padding: 8px;
    height:40px;
    box-shadow: rgba(210, 199, 199, 0.35) 0px -50px 36px -28px inset;
    
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.space-between{
    justify-content: space-between;
}

.col{
    display:flex
}

.logo-text{
    font-size: 32px;    
    display: flex;
    padding: 4px;
    margin-left: 8px;
    letter-spacing: 6px;
    font-family: cursive;
    font-weight: bold;
    margin-top:-7px
}

.logo{
    display: flex;
    height: 40px;
    width: 50px;
    padding: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 32px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 8px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  

  .btn-primary-dark{
    padding:4px 14px;
    border:1px solid var(--bgDark);
    border-radius: 8px;
    box-shadow: none;
    font-weight: 500;
    background: white;
    display: flex;
  }

  .btn-primary-light{
    padding:4px 14px;
    border:1px solid white;
    border-radius: 8px;
    box-shadow: none;
    font-weight: 500;
    color:white;
    background: var(--bgDark);
  }


  .btn{
    cursor: pointer;
  }


  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .create-task-label{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }

  main{
    height: calc(100vh - 60px);
  }

  .nav-box{
    width:20vw;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

  }


  .nav-bg-light{
    background: var(--bgDark2);
  }

  .nav-bg-dark{
    background: var(--bgLight2);
  }

  .content-box{
    width:80vw;
    height: 100%;
  }

.hide{
   
    display: none;
}


.dialog-box{
    border-radius: 12px;
    width: 24vw;
    min-height: 100px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    position: fixed;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    z-index: 2;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.2s;
    animation-name: animatetop;
    animation-duration: 0.2s;
    padding: 10px;
 
}

  @keyframes animatetop {
    from {top:-50%; opacity:0}
    to {top:-200px; opacity:1}
  }


.task-data-form{
   padding: 20px;
 
}

.label-content{
    font-size: 16px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;

}



.input-task-field{
    height: 28px;
    width: 300px;
    border-radius: 8px;
    box-shadow: none;
    border:1px solid var(--bgDark);
    padding:4px 10px
}


.select-priority-field{
    height: 28px;
    width: 200px;
    border-radius: 8px;
    box-shadow: none;
    padding:4px 10px;
    background-color: white;
}


.priority-Color{
    height: 25px;
    width: 80px;
    margin: 7px 2px 2px 16px;
    border-radius:6px;
   
}

.p4{
    background-color: red;
}


.p3{
    background-color: orange;
}

.p2{
    background-color: lightgreen;
}

.p1{
    background-color: skyblue;
}

.description-area{
    resize: none;
    height: 80px;
    width: 300px;
    border-radius: 8px;
    box-shadow: none;
    border: 1px solid var(--bgDark);
    padding:8px
}


.status-box{
  display: flex;

}

 .status-box>.col{
  width:340px;
  justify-content: space-evenly;
  margin:0px 24px;
  height: calc(100vh - 170px);
  border-radius: 12px;
  padding:10px;
  overflow: auto;
}

.block-heading{
  border: none;
  width: 100%;
  text-align: center;
  height: 20px;
}

.column{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tasks-box>.task-box{
  width: 90%;
  border-radius: 8px;
  min-height:60px;
  border:1px solid var(--bgDark2);
  margin-left:2%;
  margin-top:18px;
  padding:8px
}


.task-id{
  font-weight: bold;
  font-family: monospace;
  padding: 4px 6px;
  background-color: aliceblue;
  border-radius: 6px;
}

.task-title{
  font-weight: bold;
  font-size:16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 220px;

}

.task-priority{
  height:12px;
  width: 12px;
  border-radius:50%;
  cursor:pointer;
  border:1px solid var(--bgDark)
}

[task-color='p4'].task-priority{
    background-color: red;
}

.p4{
  background-color: red;
}


[task-color='p3'].task-priority{
  background-color: orange;
}

[task-color='p2'].task-priority{
  background-color: lightgreen;
}

[task-color='p1'].task-priority{
  background-color: skyblue;
}


.task-description{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color:rgb(92, 88, 88);
  font-size:14px
}

.icon{
  cursor: pointer;
}
.delete:hover{
  color:red
}